.menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .menuTitle {
    font-family: cursive;
    font-size: 60px;
}

.menuList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.menuItem {
    position: relative;
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.menuItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.menuItem div {
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menuItem h1,
.menuItem p {
    margin-left: 20px;
}

@media only screen and (max-width: 1300px) {
    .menuList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .menuList {
        grid-template-columns: 1fr;
    }
}

.plusButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(138, 137, 132);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

.plusButton:hover {
    background-color: rgb(3, 21, 15);
}

.menuImage {
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 40px;
    width: 70vw;
}


.filters label {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.filters input,
.filters select {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}